<?xml version="1.0"?>

<launch>
<!-- launch drone controller -->
  <node name="Controller" pkg="ardrone_controller" type="controller_node" output="screen" />

<!-- launch orb -->
  <node name="ORB_mono" pkg="ardrone_orb" type="ros_orb_node" output="screen" args="$(find ardrone_orb)/ORBvoc.txt  $(find ardrone_orb)/settings.yaml">
  <remap from="/camera/image_raw" to="/ardrone/front/image_raw" />
  </node>

<!-- launch hector trajectory plotter -->
  <node name="hector_trajectory_server" pkg="hector_trajectory_server" type="hector_trajectory_server" output="screen" />

<!-- launch rviz -->
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find ardrone_orb)/../rviz/master_config.rviz" />

<!-- launch drone driver -->
    <!-- IPv4 address of your drone -->
    <arg name="ip" default="192.168.1.1" />
  <!-- Ultrasound frequency (7 or 8). -->
  <arg name="freq" default="8" />
    <node name="ardrone_driver" pkg="ardrone_autonomy" type="ardrone_driver"
          output="screen" clear_params="true" args="-ip $(arg ip)">
      
	<!-- Modifies the drone's onboard parameters.
             If not specified, drone default will be used (consult SDK or ardrone_autonomy wiki) -->
        <param name="outdoor" value="0" />
        <param name="flight_without_shell" value="0" />
      	<param name="navdata_demo" value="0" />
	
        <param name="max_bitrate" value="4000" />
        <param name="bitrate" value="4000" />
        
        <param name="altitude_max" value="4000" />
        <param name="altitude_min" value="50" />
	
	<param name="euler_angle_max" value="0.21" />
        <param name="control_vz_max" value="700" />
        <param name="control_yaw" value="1.75" />
	
        <param name="detect_type" value="10" />
        <param name="enemy_colors" value="3" />
        <param name="detections_select_h" value="32" />
        <param name="detections_select_v_hsync" value="128" />
        <param name="enemy_without_shell" value="0" />
	<param name="ultrasound_freq" value="$(arg freq)" />
	
	 <!-- Enables the standard /ardrone/navdata, imu and mag topics. If not specified, defaults to TRUE -->
        <param name="enable_legacy_navdata" value="true" />
	
	 <!-- Enables the new-style, full information navdata packets. If not specified, defaults to FALSE -->
        <param name="enable_navdata_demo" value="false" />
        <param name="enable_navdata_time" value="false" />
        <param name="enable_navdata_raw_measures" value="false" />
        <param name="enable_navdata_phys_measures" value="false" />
        <param name="enable_navdata_gyros_offsets" value="false" />
        <param name="enable_navdata_euler_angles" value="false" />
        <param name="enable_navdata_references" value="false" />
        <param name="enable_navdata_trims" value="false" />
        <param name="enable_navdata_rc_references" value="false" />
        <param name="enable_navdata_pwm" value="false" />
        <param name="enable_navdata_altitude" value="false" />
        <param name="enable_navdata_vision_raw" value="false" />
        <param name="enable_navdata_vision_of" value="false" />
        <param name="enable_navdata_vision" value="false" />
        <param name="enable_navdata_vision_perf" value="false" />
        <param name="enable_navdata_trackers_send" value="false" />
        <param name="enable_navdata_vision_detect" value="false" />
        <param name="enable_navdata_watchdog" value="false" />
        <param name="enable_navdata_adc_data_frame" value="false" />
        <param name="enable_navdata_video_stream" value="false" />
        <param name="enable_navdata_games" value="false" />
        <param name="enable_navdata_pressure_raw" value="false" />
        <param name="enable_navdata_magneto" value="false" />
        <param name="enable_navdata_wind_speed" value="false" />
        <param name="enable_navdata_kalman_pressure" value="false" />
        <param name="enable_navdata_hdvideo_stream" value="false" />
        <param name="enable_navdata_wifi" value="false" />
        <param name="enable_navdata_zimmu_3000" value="false" />
	
	 <!-- Tunes the speed at which the ros loop runs, and thus, the rate at which navdata is published -->
	<param name="looprate" value="50" />
	
	 <!-- Do we want to publish new-style navdata when received (true), or every time the ros-loop runs (false)? -->
        <!-- (does not affect legacy navdata, which is always published at ros-loop rate) -->
        <param name="realtime_navdata" value="true" />
        <param name="realtime_video" value="true" />
	
        <!-- Covariance Values (3x3 matrices reshaped to 1x9)-->
        <rosparam param="cov/imu_la">[0.1, 0.0, 0.0, 0.0, 0.1, 0.0, 0.0, 0.0, 0.1]</rosparam>
        <rosparam param="cov/imu_av">[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]</rosparam>
        <rosparam param="cov/imu_or">[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 100000.0]</rosparam>
    </node>

</launch>


